[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"beautifulsoup4" = "*"
requests = "*"
Pillow = "*"
"PyQt5" = "*"
simplejson = "*"
Django = "*"
matplotlib = "*"
pyOpenSSL = "*"
opencv-python = "*"
numpy = "*"
sklearn = "*"
scipy = "*"
pandas = "*"
python-pygaze = "*"
pygame = "*"
nltk = "*"


[dev-packages]

