[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"beautifulsoup4" = "*"
requests = "*"
pillow = "*"
"pyqt5" = "*"
simplejson = "*"
django = "*"
matplotlib = "*"
pyopenssl = "*"
opencv-python = "*"
numpy = "*"


[dev-packages]

